[submodule "surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "nerd-tree"]
	path = bundle/nerd-tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "seoul256"]
	path = bundle/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim-less"]
	path = bundle/vim-LESS
	url = https://github.com/groenewege/vim-less
[submodule "vim-multiple-cursors"]
	path = bundle/vim-multiple-cursor
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/vim-vdebug/vdebug.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/nim.nvim"]
	path = bundle/nim.nvim
	url = https://github.com/alaviss/nim.nvim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/paredit"]
	path = bundle/paredit
	url = https://github.com/kovisoft/paredit.git
[submodule "vimrc"]
	path = vimrc
	url = git@github.com:grosours/vimrc.git
[submodule "bundle/swift.vim"]
	path = bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/vim-eightheader"]
	path = bundle/vim-eightheader
	url = https://github.com/bimlas/vim-eightheader.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-graphql"]
	path = bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/vlime"]
	path = bundle/vlime
	url = https://github.com/vlime/vlime.git
